# Tensor and Model
torch
torchaudio
torchvision

pillow

# Data Manipulation
numpy
pandas

# Transform Jetter
opencv-python

# Metrics
scikit-learn

# Data View and Dashboards
matplotlib

# Env
python-dotenv